$bloodred: #880808;
$light-blood: #A64646;
$dark-blood: #440404;
$dark-gray: #777676;

body {
    background-color: black;
}

.bg-blood {
    background-color: $bloodred;
}

.text-blood {
    color: $bloodred;
}

.scary-font {
    font-family: 'Nosifer', cursive;
}

/* search bar */
.search-bar {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid black;
  border-radius: 0;
  transition: all .8s;
  color: black;
}

.search-bar::placeholder {
    color: black;
}

.search-bar:focus::placeholder {
    color: transparent;
  }

.search-bar input {
  color: #000;
}

.search-bar:focus {
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  color: black !important;
  border-bottom: 2px solid $dark-gray;  
}

.search-button {
    background: black;
    color: $light-blood;
    transition: all .3s;
}

.search-button:hover {
  background: $dark-gray;
  color: $dark-blood;
  transform: translateY(-3px);
}
/* end of search bar */

/* navbar */
.nav-menu {
    padding: 30px;
}

nav {
  border-bottom: 2px solid black ;
}

#navbarSupportedContent {
    a {
        transition: all .3s;
    }
}

#navbarSupportedContent {
    a:hover {
        color: $dark-gray;
        font-size: 1.1rem;
    }
}
/* end of navbar */

/* banner */
.banner {
    height: 85vh;
  }
  
  .banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  
  .video-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
  }
  
  .bg-video {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  /* end of banner */

  /* mission */
.underline {
    width: 150px;
    border: 3px solid;
    margin: auto;
}
  /* end of mission */
  
/* weekly movies */
#weekly-movies {
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(../public/images/scary-forest.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #weekly-movies {
      img {
          height: 30rem;
          width: auto;
          box-shadow: 5px 5px 20px #000;
          transition: all .5s;
        }
  }
  
  @media (max-width: 959px) {
    #weekly-movies-tri{
      display: none;
    }
  }
  
  @media (max-width:1180px) and (min-width:959px) {
    #weekly-movies {
      img {
          height: 20rem;
          width: auto;
          box-shadow: 5px 5px 20px #000;
          transition: all .5s;
        }
    }
  }
  
  @media (min-width: 959px) {
    #weekly-movies-carousel {
      display: none;
    }
    #weekly-movies img:hover {
      cursor: pointer;
      transform: scale(1.2);
      box-shadow: 25px 25px 15px #000;
    }
  }
  /* end of weekly movies */

/* footer */
.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%,
    #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 60px;
    place-items: center;
  }
  /* end of footer */

  /*Searched Films*/
  .lg-search {
    width: 50%;
  }

  .searched-movie {
    height: 100%;
  }

  .searched-movie:hover {
    transform: scale(1.1);
  }

  .search-error {
    padding-top: 20vh;
  }

  .search-bar-lt {
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid $bloodred;
    border-radius: 0;
    transition: all .8s;
    color: $bloodred;
    font-size: large;
    word-spacing: 5px;
  }

  .search-bar-lt::placeholder {
    color: $bloodred;
  }

  .search-bar-lt:focus::placeholder {
    color: transparent;
  }

  .search-bar:focus {
    background: transparent;
    border-color: transparent;
    box-shadow: none;
    color: $bloodred;
    border-bottom: 2px solid $dark-gray;  
  }

  .search-button-lt {
      background: black;
      color: $bloodred;
      transition: all .3s;
  }

  .search-button-lt:hover {
    background: black;
    color: $bloodred;
    transform: translateY(-3px);
    font-size: large;
    border: 2px solid $bloodred;
  }
  /*End of Searched Films*/

  /*Movie Page*/
  .movie-pg {
    color: white;
    margin-top: 2vh;
  }
  /*End of Movie Page*/

  /*Profile*/

  /*Carousel*/
  .carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-slide {
    width: 200px;
    height: 300px;
  }

  .arrow {
    position: absolute;
    top: 50%;
    color: white;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    font-size: 2rem;
    font-weight: lighter;
  }
  .right {
    right: 32px;
  }

  .left {
    left: 32px;
  }

  .arrow:hover {
    color: white!important;
  }
  
  .carousel-header {
    text-align: center;
  }
  /*End of Carousel*/

  .profile-blurb {
    border: solid white;
  }

  .user-icon {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
  }

  .activity-container {
    position: relative;
    margin-bottom: 20px;
    display: flex;
}

  .recent-activities-section {
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .activity-text {
    display: block;
  }

  .font-italic {
    font-style: italic;
  }

  .border-bottom-blood {
    border-bottom: 2px solid $bloodred;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.about-me {
  h5 {
      border-bottom: solid $bloodred;
    }
}

.activities {
  margin: auto auto;
}
  /*End of Profile*/

  /*My Lists*/
  .list-movie {
    height: 300px;
    width: 200px;
  }

  /*End of My Lists*/